@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f7f7f7;
}

/* NAVBAR */

.nav_links #home{
  color: black;
  background-color: white;
}

header{
    background-color: black;
    transition: 0.4s;
    max-height: 50px;
    position: fixed;
    width: 100%;
    display: flex;

  }
  
  .nav_links a {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    border-radius: 4px;
  }

.nav_links li{
    position: relative;
    display: inline-block;
    margin-left: 40px;
    top: 13px;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
}

    .logo {
    position: relative;
    font-size: 35px;
    font-weight: bold;
    transition: 0.4s;
    left: 20px;
    color:gray;
    
  }
  
  .nav_links a:hover {
    background-color: #ddd;
    color: black;
    transition: all 0.7s;
  }
 .settings{
    position: absolute;
    right: 20px;
    font-size: 30px;
    color: gray;
}


/* Conteiner */

.container{
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 200px;
    align-items: center;
}



.subjects {
  background-color: transparent;
  width: 20%;
  height: 200px;
  perspective: 500px;
  cursor: pointer;
}

.subjects-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
}

.subjects:hover .subjects-inner {
  transform: rotateY(180deg);
}

.subjects-front, .subjects-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.subjects-front {
  background-color: black;
  color: white;
}

.subjects-back {
  transform: rotateY(180deg);
}

.subjects img{
    position: relative;
    width: 100%;
    height: 100%;
}


.subjects h4{
 margin-top: 70px;
}

